.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 #buttons {
    display: flex;
    flex-direction: row;

}
#buttons button{ 
    margin: 2%;
}
#joke-display{
    width: 50%;
    height: 25%;
    border: 2px solid;
    border-radius: 2%;
    text-align: center;
    border-color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}